@model ProyectoIdentity.Models.Empleado

@{
    ViewData["Title"] = "Calcular Productividad";
}

<h2>Productividad del Empleado: @Model.Name @Model.LastName</h2>

@if (ViewBag.ProductividadPromedio != null)
{
    <p>Productividad Promedio del Empleado: @ViewBag.ProductividadPromedio %</p>
}

<h3>Comparación de Productividad de Empleados</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Empleado</th>
            <th>Productividad Promedio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empleado in ViewBag.EmpleadosProductivos)
        {
            <tr>
                <td>@empleado.Empleado.Name @empleado.Empleado.LastName</td>
                <td>@empleado.ProductividadPromedio %</td>
            </tr>
        }
    </tbody>
</table>
