@model IEnumerable<ProyectoIdentity.Models.Meta>

@{
    ViewData["Title"] = "Lista de Metas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Lista de Metas</h1>

@if (User.IsInRole("Administrador"))
{
    <div class="row">
        <div class="col-sm-3 offset-9">
            <a asp-action="Crear" asp-controller="Metas" class="btn btn-primary w-100">Crear Nueva Meta</a>
        </div>
    </div>
}

<form asp-controller="Metas" asp-action="Index">
    <p>
        Buscar por Sigla EG01-EG13: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
    </p>
    <p>
        <input type="submit" value="Reiniciar" class="btn btn-sm btn-green" />
        <a href="/Alineamientos/Index" class="btn btn-sm btn-primary">Siguiente</a>
    </p>
</form>

<div class="row">
    <div class="col-sm-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Lista de Metas</strong></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Any())
                    {
                        <table class="d-lg-table table-bordered" id="tablaMetas" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Dominio</th>
                                    <th>Nivel de Importancia</th>
                                    <th>SiglaEG01_EG13</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var meta in Model)
                                {
                                    <tr id="row-@meta.Codigo">
                                        <td class="codigo-col">@Html.DisplayFor(m => meta.Codigo)</td>
                                        <td class="dominio-col">@Html.DisplayFor(m => meta.Dominio)</td>
                                        <td>@Html.DisplayFor(m => meta.Nivel)</td>
                                        <td>@Html.DisplayFor(m => meta.SiglaEG01_EG13)</td>
                                        <td>
                                            <button type="button" class="btn btn-warning" onclick="markRow('@meta.Codigo')">Marcar</button>
                                            <a class="btn btn-primary" asp-controller="Metas" asp-action="Editar" asp-route-id="@meta.ID">Editar</a>
                                            <form asp-controller="Metas" asp-action="BorrarConfirmed" asp-route-id="@meta.ID" method="post" style="display:inline;">
                                                <button type="submit" onclick="return confirm('¿Está seguro de borrar esta meta?')" class="btn btn-danger">Borrar</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No hay metas registradas.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function markRow(codigo) {
            var selectedRow = document.getElementById("row-" + codigo);
            var codigoCol = selectedRow.querySelector('.codigo-col');
            var dominioCol = selectedRow.querySelector('.dominio-col');

            if (codigoCol.style.backgroundColor === "lightgreen" && dominioCol.style.backgroundColor === "lightgreen") {
                // Unmark the columns if they are already marked
                codigoCol.style.backgroundColor = "";
                codigoCol.style.fontWeight = "";
                codigoCol.style.textDecoration = "";
                dominioCol.style.backgroundColor = "";
                dominioCol.style.fontWeight = "";
                dominioCol.style.textDecoration = "";
            } else {
                // Mark the columns if they are not already marked
                codigoCol.style.backgroundColor = "lightgreen";
                codigoCol.style.fontWeight = "bold";
                codigoCol.style.textDecoration = "underline";
                dominioCol.style.backgroundColor = "lightgreen";
                dominioCol.style.fontWeight = "bold";
                dominioCol.style.textDecoration = "underline";
            }
        }
    </script>
}
